@charset "utf-8";
@import "compass";

body {
  text-align: center;
  font-family: sans-serif;
  background-color:gray;
  height:1800px;
}

h1 {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 350px 0 10px;
  margin: 0;
}

.chapter {
  height: 600px; 
  padding: 0; 
  margin: 0; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  margin: 0 auto; 
  border-top: 1px solid rgba(255,255,255,0.3); 
  border-bottom: 1px solid rgba(0,0,0,0.4); 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);

  padding: 50px 0;
  article { background: url(../images/grain.png) repeat #333; color: #fff; width: 445px; margin-left: 100px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
  article p { margin-bottom: 25px; }
  article a { color: #ff0;}

  img {
    @include border-radius(5px);
    max-height:400px;
    &.tilt-right {
      @include rotate(6deg);
    }
    &.tilt-left {
      @include rotate(-6deg);
    }

  }
}

#meet {
  background:url("../images/meet/guthries.jpg") 50% 0 no-repeat fixed;
}

#mexico {
  background:url("../images/mexico/73723_10100404696701384_2014081_n.jpeg") 50% 0 no-repeat fixed;
  img {
    max-height:300px;
  }
}

#moved_in {
  background:url("../images/moved_in/07727246_0.jpeg") 50% 0 no-repeat fixed;
}

@import 'normalize'

