// I gather this file is a starting point for the project.
@import "compass";

// Use this file to override
@import "variables";

// Imports bootstrap
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

@import "helpers/bootstrap-helpers";

body {
	padding-top: 60px;
	padding-bottom: 40px;
  font-family: 'Forum', cursive;
  @include background-image(radial-gradient(circle, #b8c6df, #6d88b7));
  line-height: 1;
}

.content_section {
  padding: 10px 15px 10px 15px;
  margin-bottom:20px;
  background-color:#fefcea;
  @include border-radius(10px);
  @include box-shadow(1px 2px 10px);
}

p {
  font-size:1.5em;
}

.navbar {
  padding:0px, 0px, 0px, 0px;
  margin:0px;
}

.section_title {
  text-transform: uppercase;
  font-size:1.8em;
  line-height: 1;
  text-align:right;
  margin-bottom:10px;
}

#getting_married {

  .line1 {
    font-weight: bold;
    text-align: center;
    font-size: 6em;
    line-height: 2;
  }

  .line2 {
    font-weight: bold;
    text-align: center;
    font-size: 9em;
    line-height: 1;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: wiggletext 2s infinite alternate ease-in-out;
    text-transform: uppercase;
  }

}
@-webkit-keyframes wiggletext {
  0%   { @include transform(perspective(1000px) rotateY(-10deg)); }
  100% { @include transform(perspective(1000px) rotateY(10deg)); }
}

#story {

}

#photos {
  #gallery {
    img{
      text-align: justify;
      margin-right:5px;
      margin-bottom:5px;
    }
  }


}

#wedding_details{

}

#hotel_details {
  a{
    font-size:1.6em;
    line-height: 1.8em;
  }

  #phone {
    a {
      font-size:1.0em;
    }
  }

}
