.navbar.navbar-fixed-top
	.navbar-inner
		.container
			.nav-collapse
				%ul.nav
					%li{:class => data.page.name == 'index' ? 'active' : ''}
						%a{:onclick => "$.scrollTo(0, 800)"} Home
					%li{:class => data.page.name == 'twocolumns' ? 'active' : ''}
						%a{:onclick => "$.scrollTo($('#story'), 800)"} Story
					%li{:class => data.page.name == 'contact' ? 'active' : ''}
						%a{:onclick => "$.scrollTo($('#photos'), 800)"} Photos
					%li{:class => data.page.name == 'contact' ? 'active' : ''}
						%a{:onclick => "$.scrollTo($('#wedding_details'), 800)"} Wedding Details
					%li{:class => data.page.name == 'contact' ? 'active' : ''}
						%a{:onclick => "$.scrollTo($('#hotel_details'), 800)"} Hotel Details