---
title: "Jay & Avriel"
name: "index"
---
- content_for :head do
  :javascript
    // do stuff

#getting_married
  .line1
    Jay and Avriel
  .line2
    Are getting married

#story

#photos

#wedding_details

#hotel_details
